@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-image: url(/assets/bg\ dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;  
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
