.section{
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-image: url(/assets/bg\ dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}